.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 4px 4px #00000026;
}
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 4px 4px #00000026;
}

.title-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-do {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.lorem {
  display: flex;
  margin-block: 94px;
}
.lorem-text {
  padding-right: 30px;
}
article:last-child {
  padding-right: 0px;
}
.what-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.what-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1170px;
}

.team-background {
  background: #f5f4fa;
  margin: 0 auto;
  min-height: 648px;
}
.team {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 368px;
  width: 1170px;
}
.person {
  box-sizing: border-box;
  width: 270px;
  height: 428px;
  margin: 0 auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.person-text-box {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin: 0 auto;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 99px;
  margin-left: 99px;
}
.team-function {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  margin-top: 0;
  margin-right: 61px;
  margin-bottom: 30px;
  margin-left: 62px;
  font-size: 14px;
}

.adres {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
  display: flex;
  align-items: baseline;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.product-name {
  margin-bottom: 4px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.product-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  padding: 0px 24px 20px 24px;
  margin: 0;
  letter-spacing: 0.03em;
}
.flex-button {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.flex-table {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  flex-basis: calc((100% - 30px) / 3);
  margin: 0;
}
.product-box {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0 auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}
.product-box:hover {
  box-shadow: 4px 6px 0px #00000029;
  cursor: pointer;
}
.product-box:focus {
  box-shadow: 4px 6px 0px #00000029;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link:hover,
.social-link:focus {
  border-radius: 50%;
  cursor: pointer;
  background-color: #2196f3;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: #ffffff;
}

.social-link-icon {
  fill: #757575;
}
.social-link-footer {
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-footer:hover,
.social-link-footer:focus {
  border-radius: 50%;
  cursor: pointer;
  background-color: #2196f3;
}

.social-link-footer:hover .social-link-footer,
.social-link-footer:focus .social-link-footer {
  fill: #ffffff;
}

.icon-cont {
  max-width: 10px;
  max-height: 14px;
  fill: currentColor;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cont-e {
  max-width: 16px;
  max-height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client {
  max-width: 170px;
  max-height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
.icon-client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.icon-lorem {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.social-box-icon {
  display: flex;
  justify-content: space-evenly;
  fill: #afb1b8;
}
.client {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-footer {
  color: #ffffff;
  fill: currentColor;
  justify-content: center;
  margin-left: 70px;
}
.social-text {
  font-size: 14px;
}

.port {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}
.client-box-icon {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}
.flex-footer {
  display: flex;
  margin-top: 60px;
  align-items: baseline;
}
.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  cursor: auto;
}
.close-btn {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: relative;
  top: 8px;
  left: 91%;
  cursor: pointer;
}
.text-img-what-do {
  width: auto;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
}
.menu-link:visited {
  border-bottom: solid 1px #2196f3;
}
.img-text-box {
  background-color: #2f303acc;
  width: 100%;
  height: 70px;
  position: relative;
  top: -84px;
}
.text-box {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}
.list-what-do {
  display: contents;
}
.hidden-text {
  position: absolute;
  inset: 0;
  padding: 0.5em;
  width: 370px;
  height: 100%;
  background-color: #2196f3e6;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #fff;
}
.hidden-text:hover,
.hidden-text:focus {
  transform: inherit;
}

.hidden-box:hover,
.hidden-box:focus {
  transform: inherit;
}
.product-box:hover .hidden-text {
  transform: translateY(0);
}
.hidden-box {
  overflow: hidden;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  position: relative;
}
.social-flex-footer {
  display: flex;
}
.client-text {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 auto;
}
.menu-link--active,
.menu-link::after {
  content: "";
  display: block;
  position: relative;
  top: 25.5px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  color: #2196f3;
}
.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-legend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  align-items: center;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
}
.label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 40px;
}
.label-text {
  margin-bottom: 10px;
}
.textarea-label {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.modal-input-div {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
}
.modal-input {
  margin: 10px auto 10px 0;
  width: 366px;
  height: 20px;
  border: none;
  outline-color: transparent;
}
.textarea-input-div {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  position: relative;
}
.textarea-input {
  resize: none;
  margin: 12px auto;
  width: 416px;
  border: none;
  outline-color: transparent;
}
.textarea-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label:focus-within .modal-input-div,
.label:focus-within .textarea-input-div {
  border-color: #2196f3;
}
.modal-icon {
  fill: #212121;
  margin: auto;
}
.label:focus-within .modal-icon {
  fill: #2196f3;
}
.modal-checkbox {
  position: relative;
  top: 20px;
  width: 16px;
  height: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-square-svg {
  position: relative;
  left: 54px;
}

.checkbox-checked-svg {
  fill: #fff;
  background-color: #2196f3;
  width: 16px;
  height: 17px;
  border-radius: 4px;
  position: relative;
  left: 54px;
  bottom: 19px;
  visibility: hidden;
}
.modal-checkbox:checked ~ .checkbox-checked-svg {
  visibility: visible;
}
.modal-checkbox:checked + .checkbox-square-svg {
  visibility: hidden;
}

.modal-declaration {
  position: relative;
  left: 79px;
  bottom: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.declaration-label {
  padding-left: 55px;
}
.declaration-link,
.declaration-link:hover,
.declaration-link:focus,
.declaration-link:visited {
  color: #2196f3;
}
.modal-send-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-left: 164px;
  position: relative;
  bottom: 20px;
}
.header-block-shade {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
.newsletter-email-box {
  padding-left: 78px;
}
.newsletter-label {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter-email-input {
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.newsletter-email-input:placeholder-shown {
  border-color: rgba(255, 255, 255, 0.3);
}
.newsletter-email-input[placeholder] {
  padding-left: 16px;
}
.newsletter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  border-radius: 4px;
  height: 50px;
  width: 200px;
}
.newsletter-icon {
  fill: #fff;
  position: relative;
  top: 5px;
  left: 16px;
}
.address {
  display: flex;
  flex-direction: column;
}
.cont-link-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}
