.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  margin: auto;
  background: $third-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  cursor: auto;
}
.close-btn {
  border: none;
  width: 30px;
  height: 30px;
  background-color: $third-text-color;
  position: relative;
  top: 8px;
  left: 91%;
  cursor: pointer;
}

.declaration {
  &__text {
    position: relative;
    left: 79px;
    bottom: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  &__label-box {
    padding-left: 55px;
  }
  &__declaration-checkbox {
    position: relative;
    top: 20px;
    width: 16px;
    height: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__link,
  &__link:hover,
  &__link:focus,
  &__link:visited {
    color: $active-color;
  }
  &__send-button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $third-text-color;
    background-color: $active-color;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-left: 164px;
    position: relative;
    bottom: 20px;
  }
  &__checkbox-square-svg {
    position: relative;
    left: 54px;
  }

  &__checkbox-checked-svg {
    fill: $third-text-color;
    background-color: $active-color;
    width: 16px;
    height: 17px;
    border-radius: 4px;
    position: relative;
    left: 54px;
    bottom: 19px;
    visibility: hidden;
  }
  &__checkbox:checked ~ &__checkbox-checked-svg {
    visibility: visible;
  }
  &__checkbox:checked + &__checkbox-square-svg {
    visibility: hidden;
  }
}
.form {
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 12px;
  }
}
.label {
  &__box {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-left: 40px;
  }
  &__text-help {
    margin-bottom: 10px;
  }
  &__input-box {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
  }
  &__input-text {
    margin: 10px auto 10px 0;
    width: 366px;
    height: 20px;
    border: none;
    outline-color: transparent;
  }
  &__icon {
    fill: $primary-text-color;
    margin: auto;
  }

  &__com-box {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  &__input-com-box {
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: flex;
    position: relative;
  }

  &__input-com {
    resize: none;
    margin: 12px auto;
    width: 416px;
    border: none;
    outline-color: transparent;
  }
  &__label__input-com::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &__box:focus-within &__input-box,
  &__box:focus-within &__input-com-box {
    border-color: $active-color;
  }

  &__box:focus-within &__icon {
    fill: $active-color;
  }
}
