.lorem__box {
  display: flex;
  margin-block: 94px;

  &__item {
    padding-right: 30px;
  }
  &__icon {
    width: 270px;
    height: 120px;
    background-color: $background-lorem-icon;
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    color: $secondary-text-color;
  }
}
.what-we-do__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.what-we-do__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1170px;
}

.what-we-do__list {
  display: contents;
}

.text-img-what-do {
  width: auto;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
}

.what-we-do__img-text-box {
  background-color: #2f303acc;
  width: 100%;
  height: 70px;
  position: relative;
  top: -84px;
}
.what-we-do__text-img {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}

.team-background {
  background: #f5f4fa;
  margin: 0 auto;
  min-height: 648px;
}
.team {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 368px;
  width: 1170px;
}
.person {
  box-sizing: border-box;
  width: 270px;
  height: 428px;
  margin: 0 auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.person-text-box {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin: 0 auto;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 99px;
  margin-left: 99px;
}
.team-function {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  margin-top: 0;
  margin-right: 61px;
  margin-bottom: 30px;
  margin-left: 62px;
  font-size: 14px;
}
