.client {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-client {
  max-width: 170px;
  max-height: 92px;
  fill: $client-fill-icon;
  border: 1px solid $client-fill-icon;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client:hover {
  fill: $active-color;
  border-color: $active-color;
}
.icon-client:focus {
  fill: $active-color;
  border-color: $active-color;
}
.client-box-icon {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}
.client-header {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 auto;
}
