.lorem__box {
  display: flex;
  margin-block: 94px;
}
.lorem__item {
  padding-right: 30px;
}

.lorem__icon {
  width: 270px;
  height: 120px;
  background-color: $background-lorem-icon;
}
.lorem__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.lorem__text {
  color: $secondary-text-color;
}

.what-we-do__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.what-we-do__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1170px;
}

.what-we-do__list {
  display: contents;
}

.what-we-do__text-img {
  width: auto;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: $third-text-color;
  text-transform: uppercase;
}

.what-we-do__img-text-box {
  background-color: $what-img-text;
  width: 100%;
  height: 70px;
  position: relative;
  top: -84px;
}
.what-we-do__text-img {
  color: $third-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}
