.social {
  &__link {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $third-text-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link:hover,
  &__link:focus {
    border-radius: 50%;
    cursor: pointer;
    background-color: $active-color;
  }

  &__link:hover &__link-icon,
  &__link:focus &__link-icon {
    fill: $third-text-color;
  }

  &__link-icon {
    fill: $client-fill-icon;
  }
  &__box-icon {
    display: flex;
    justify-content: space-evenly;
    fill: $client-fill-icon;
  }
}

.footer {
  &__social-link {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    fill: $third-text-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-link:hover,
  &__social-link:focus {
    border-radius: 50%;
    cursor: pointer;
    background-color: $active-color;
  }

  &__social-link:hover &__social-link,
  &__social-link:focus &__social-link {
    fill: $third-text-color;
  }

  &__social {
    color: $third-text-color;
    fill: currentColor;
    justify-content: center;
    margin-left: 70px;
  }
  &__social-text {
    font-size: 14px;
  }
  &__social-flex {
    display: flex;
  }
}
