$background-color-footer: #2f303a;
$active-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$border-header: #ececec;
$background-lorem-icon: #f5f4fa;
